<app-navbar></app-navbar>
<section class="py-1 bg-blueGray-50">
    <div class="w-10/12 sm:w-6/12 md:w-10/12 mb-12 xl:mb-0 px-4 mx-auto mt-24">
        <div class="relative flex flex-col min-w-0 bg-slate-700 w-full mb-6 shadow-lg rounded ">
            <div class="rounded-t mb-0 px-4 py-3 border-0">
                <div class="flex flex-wrap items-center">
                    <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-base text-blueGray-700"></h3>
                    </div>
                </div>
            </div>

            <div class="block w-full overflow-x-auto text-white">
                <table class="items-center bg-transparent w-full border-collapse ">
                    <thead>
                        <tr>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-s uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                Name (Symbol)
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-s uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                Current Price
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-s uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                $ Change
                            </th>
                            <th
                                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-s uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center">
                                % Change
                            </th>
                        </tr>
                    </thead>

                    <tbody *ngFor="let data of currencyData">
                        <tr>
                            <th
                                class="border-t-0 border-l-0 border-r-0 whitespace-nowrap p-4">
                                <img [src]="data.image" alt="crypto image" class="w-auto h-10" />
                            </th>
                            <td
                                class="border-t-0 px-6 text-center border-l-0 border-r-0 text-s whitespace-nowrap p-4 uppercase ">
                                {{ data.name }} ({{ data.symbol }})
                            </td>
                            <td
                                class="border-t-0 px-6 text-center border-l-0 border-r-0 text-s whitespace-nowrap p-4">
                                ${{ roundedPrice(data.current_price) }}
                            </td>
                            <td
                                class="border-t-0 px-6 text-center border-l-0 border-r-0 text-s whitespace-nowrap p-4">
                                $ {{ roundedPrice(data.price_change_24h) }}
                            </td>
                            <td
                                class="border-t-0 px-6 text-center border-l-0 border-r-0 text-s whitespace-nowrap p-4">
                                {{ roundedPrice(data.price_change_percentage_24h) }}%
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>